Repository ib823/kflow: changes, and which Codecov flags are due for each by the changed paths.
All: backend, mobile

feat: Complete Phase 4 - Mobile App Development (Flutter)
  mobile/lib/core/router/app_router.dart
  mobile/lib/core/storage/secure_storage.dart
  mobile/lib/features/auth/presentation/login_screen.dart
  mobile/lib/features/auth/presentation/pin_setup_screen.dart
  mobile/lib/features/auth/presentation/pin_verify_screen.dart
  mobile/lib/features/home/presentation/home_screen.dart
  mobile/lib/features/home/presentation/widgets/dashboard_card.dart
  mobile/lib/features/home/presentation/widgets/leave_summary_card.dart
  mobile/lib/features/home/presentation/widgets/quick_actions.dart
  mobile/lib/features/leave/presentation/leave_apply_screen.dart
  mobile/lib/features/leave/presentation/leave_balance_screen.dart
  mobile/lib/features/leave/presentation/leave_history_screen.dart
  mobile/lib/features/leave/presentation/leave_request_screen.dart
  mobile/lib/features/notifications/presentation/notifications_screen.dart
  mobile/lib/features/payslip/presentation/payslip_detail_screen.dart
  mobile/lib/features/payslip/presentation/payslip_list_screen.dart
  mobile/lib/features/profile/presentation/profile_screen.dart
  mobile/lib/shared/models/leave.dart
  mobile/lib/shared/models/notification.dart
  mobile/lib/shared/models/payslip.dart
  mobile/lib/shared/models/user.dart
  mobile/lib/shared/providers/auth_provider.dart
Due: mobile

feat: Complete Phase 5-6 - Testing Infrastructure & Platform Compliance
  backend/odoo/addons/kerjaflow/tests/integration/__init__.py
  backend/odoo/addons/kerjaflow/tests/integration/test_approval_workflow.py
  backend/odoo/addons/kerjaflow/tests/integration/test_auth_api.py
  backend/odoo/addons/kerjaflow/tests/integration/test_leave_api.py
  backend/odoo/addons/kerjaflow/tests/integration/test_payslip_api.py
  docs/specs/01_Data_Foundation.md
  docs/specs/02_API_Contract.md
  docs/specs/03_OpenAPI.yaml
  docs/specs/04_Business_Logic.md
  docs/specs/05_Quality_Specification.md
  docs/specs/06_Security_Hardening.md
  docs/specs/07_Operations_Runbook.md
  docs/specs/08_Technical_Addendum.md
  docs/specs/09_Mobile_UX_Specification.md
  docs/specs/10_Implementation_Plan.md
  mobile/android/app/build.gradle
  mobile/android/app/proguard-rules.pro
  mobile/android/app/src/google/google-services.json
  mobile/android/app/src/huawei/agconnect-services.json
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/kotlin/my/kerjaflow/app/HmsPushService.kt
  mobile/android/app/src/main/kotlin/my/kerjaflow/app/MainActivity.kt
  mobile/android/app/src/main/res/drawable/launch_background.xml
  mobile/android/app/src/main/res/values/colors.xml
  mobile/android/app/src/main/res/values/strings.xml
  mobile/android/app/src/main/res/values/styles.xml
  mobile/android/app/src/main/res/xml/file_paths.xml
  mobile/android/app/src/main/res/xml/network_security_config.xml
  mobile/ios/Runner/AppDelegate.swift
  mobile/ios/Runner/Info.plist
  mobile/lib/core/services/deep_link_service.dart
  mobile/lib/core/services/push_notification_service.dart
  tests/e2e/pytest.ini
  tests/e2e/test_api_e2e.py
  tests/e2e/test_config.py
Due: mobile

feat: Zero-cost enforcement and backend fixes
  .env.example
  backend/Dockerfile
  backend/odoo/addons/kerjaflow/__manifest__.py
  backend/odoo/addons/kerjaflow/data/kf_leave_type_data.xml
  backend/odoo/addons/kerjaflow/data/kf_public_holiday_data.xml
  backend/odoo/addons/kerjaflow/security/ir.model.access.csv
  backend/odoo/addons/kerjaflow/security/kerjaflow_groups.xml
  backend/odoo/addons/kerjaflow/security/kerjaflow_security.xml
  backend/requirements.txt
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/unit/__init__.py
  backend/tests/unit/test_approval.py
  backend/tests/unit/test_authentication.py
  backend/tests/unit/test_document.py
  backend/tests/unit/test_leave.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_notification.py
  backend/tests/unit/test_payslip.py
  backend/tests/unit/test_profile.py
  mobile/android/app/build.gradle
  mobile/android/app/src/google/google-services.json
  mobile/android/app/src/huawei/agconnect-services.json
  mobile/pubspec.yaml
Due: backend, mobile

feat: Add ASEAN multi-country support and compliance infrastructure
  CLAUDE.md
  backend/odoo/addons/kerjaflow/models/__init__.py
  backend/odoo/addons/kerjaflow/models/compliance.py
  backend/odoo/addons/kerjaflow/models/kf_country_config.py
  backend/odoo/addons/kerjaflow/models/kf_employee.py
  backend/odoo/addons/kerjaflow/models/kf_statutory_rate.py
  database/migrations/004_compliance_monitoring.sql
  docs/architecture/KerjaFlow_Budget_Enterprise_Architecture_v3.docx
Due: backend

docs: Update CLAUDE.md - mark Phases 1-3 complete, fix paths
  CLAUDE.md
Due: none

feat: Complete Phase 6 - Platform Compliance & Manual QA
  .github/workflows/e2e-tests.yml.disabled
  .github/workflows/release.yml.disabled
  backend/odoo/addons/kerjaflow/controllers/privacy_controller.py
  backend/odoo/addons/kerjaflow/models/__init__.py
  docs/legal/PRIVACY_POLICY.md
  docs/legal/TERMS_OF_SERVICE.md
  docs/qa/MANUAL_QA_CHECKLIST.md
  docs/qa/RELEASE_PROCEDURE.md
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/res/xml/backup_rules.xml
  mobile/android/app/src/main/res/xml/data_extraction_rules.xml
  mobile/android/app/src/main/res/xml/locales_config.xml
  mobile/android/key.properties.template
  mobile/android/keystore/README.md
  mobile/ios/Runner/Info.plist
Due: backend, mobile

feat(i18n): Add comprehensive localization infrastructure for 19 languages
  mobile/l10n.yaml
  mobile/lib/l10n/app_bn.arb
  mobile/lib/l10n/app_en.arb
  mobile/lib/l10n/app_id.arb
  mobile/lib/l10n/app_ms.arb
  mobile/lib/l10n/app_ms_Arab.arb
  mobile/lib/l10n/app_ne.arb
  mobile/lib/l10n/app_vi.arb
  mobile/lib/l10n/app_zh_Hans.arb
Due: mobile

feat(i18n,a11y): Complete 19-language support and low-literacy UX widgets
  mobile/lib/core/localization/rtl_config.dart
  mobile/lib/l10n/app_ban.arb
  mobile/lib/l10n/app_jv.arb
  mobile/lib/l10n/app_km.arb
  mobile/lib/l10n/app_lo.arb
  mobile/lib/l10n/app_mad.arb
  mobile/lib/l10n/app_min.arb
  mobile/lib/l10n/app_my.arb
  mobile/lib/l10n/app_su.arb
  mobile/lib/l10n/app_ta.arb
  mobile/lib/l10n/app_th.arb
  mobile/lib/l10n/app_tl.arb
  mobile/lib/shared/widgets/accessibility/accessibility_widgets.dart
  mobile/lib/shared/widgets/accessibility/accessible_status_indicator.dart
  mobile/lib/shared/widgets/accessibility/enhanced_pin_input.dart
  mobile/lib/shared/widgets/accessibility/payslip_breakdown_chart.dart
  mobile/pubspec.yaml
Due: mobile

feat(statutory): Add comprehensive ASEAN statutory framework migrations
  backend/kerjaflow/__init__.py
  backend/kerjaflow/models/__init__.py
  database/migrations/001_create_country_tables.sql
  database/migrations/002_create_statutory_tables.sql
  database/migrations/003_create_rate_tables.sql
  database/migrations/004_seed_countries.sql
  database/migrations/005_seed_malaysia_statutory.sql
  database/migrations/006_seed_singapore_statutory.sql
  database/migrations/007_seed_indonesia_statutory.sql
  database/migrations/008_seed_thailand_statutory.sql
  database/migrations/009_seed_philippines_statutory.sql
  database/migrations/010_seed_vietnam_statutory.sql
  database/migrations/011_seed_cambodia_statutory.sql
  database/migrations/012_seed_myanmar_statutory.sql
  database/migrations/013_seed_brunei_statutory.sql
  database/migrations/014_seed_leave_entitlements.sql
Due: backend

feat(statutory): Complete Python backend, tests, and validation framework
  Makefile
  backend/README.md
  backend/kerjaflow/models/statutory.py
  backend/kerjaflow/services/__init__.py
  backend/kerjaflow/services/statutory_calculator.py
  backend/kerjaflow/tests/__init__.py
  backend/kerjaflow/tests/conftest.py
  backend/kerjaflow/tests/test_all_countries.py
  backend/kerjaflow/tests/test_malaysia_statutory.py
  backend/kerjaflow/tests/test_singapore_statutory.py
  backend/kerjaflow/utils/__init__.py
  backend/pyproject.toml
  validation/statutory_rate_validator.py
Due: backend

feat(audit): Add production readiness audit artifacts
  .gitignore
  REPLAY_AUDIT.sh
Due: none

docs(audit): Add comprehensive production readiness audit report
  docs/audit/PRODUCTION_READINESS_AUDIT_2025-12-28.md
Due: none

feat(build): Add KerjaFlow Build System (KBS) and update CLAUDE.md
  .gitignore
  .kbs/config.yaml
  .kbs/kbs.sh
  CLAUDE.md
  install-kbs.sh
Due: none

feat(models): Create kf_user_device.py for device management
  .kerjaflow_progress.json
  backend/odoo/addons/kerjaflow/models/kf_user_device.py
  docs/KERJAFLOW_CLAUDE_CODE_CLI_COMPLETE_ACTION_PLAN.md
  docs/KERJAFLOW_FILE_MANIFEST.md
  docs/KerjaFlow_Complete_Systematic_Review_EXTREME_KIASU.md
  docs/extracted_setup/CLAUDE.md
  docs/extracted_setup/CLAUDE_QUICKREF.md
  docs/extracted_setup/KERJAFLOW_FILE_MANIFEST.md
  docs/extracted_setup/KerjaFlow_Internal_Infrastructure_Manifesto.md
  docs/extracted_setup/PARANOID_PROMPT.txt
  docs/extracted_setup/ULTIMATE_SETUP_GUIDE.md
  docs/extracted_setup/gitignore.txt
  docs/extracted_setup/install-kbs.sh
  docs/extracted_setup/kbs-config.yaml
  docs/extracted_setup/kbs.sh
  docs/remediate_kerjaflow.sh
Due: backend

feat(security): Migrate JWT from HS256 to RS256
  .env.example
  .kerjaflow_progress.json
  backend/odoo/addons/kerjaflow/config.py
  backend/odoo/addons/kerjaflow/controllers/auth_controller.py
  infrastructure/scripts/generate_jwt_keys.sh
Due: backend

feat(ci): Enable CI/CD pipelines and add quality gates
  .github/workflows/dependency-audit.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .kerjaflow_progress.json
Due: none

feat(i18n): Add translation sync utility and fill missing keys
  .kerjaflow_progress.json
  mobile/lib/l10n/app_km.arb
  mobile/lib/l10n/app_my.arb
  mobile/lib/l10n/app_ta.arb
  mobile/lib/l10n/app_th.arb
  mobile/lib/l10n/app_tl.arb
  mobile/scripts/translation_sync.py
Due: mobile

feat(phase2): Complete all Phase 2 screens with security features
  .gitignore
  .kerjaflow_progress.json
  mobile/lib/core/router/app_router.dart
  mobile/lib/core/security/secure_screen_mixin.dart
  mobile/lib/features/documents/presentation/screens/document_list_screen.dart
  mobile/lib/features/documents/presentation/screens/document_upload_screen.dart
  mobile/lib/features/documents/presentation/screens/document_viewer_screen.dart
  mobile/lib/features/leave/presentation/screens/approval_detail_screen.dart
  mobile/lib/features/leave/presentation/screens/leave_calendar_screen.dart
  mobile/lib/features/leave/presentation/widgets/rejection_reason_dialog.dart
  mobile/lib/features/notifications/presentation/screens/notification_detail_screen.dart
  mobile/lib/features/payslip/presentation/payslip_detail_screen.dart
  mobile/lib/features/payslip/presentation/screens/payslip_pdf_screen.dart
  mobile/lib/features/settings/presentation/screens/about_screen.dart
  mobile/lib/features/settings/presentation/screens/change_password_screen.dart
  mobile/lib/features/settings/presentation/screens/change_pin_screen.dart
  mobile/lib/features/settings/presentation/screens/settings_screen.dart
  mobile/pubspec.yaml
Due: mobile

fix: Resolve remaining flake8 linting issues (E501 line too long)
  backend/odoo/addons/kerjaflow/controllers/privacy_controller.py
Due: backend

test(phase4): Add comprehensive test coverage
  .kbs/kbs.sh
  .kerjaflow_progress.json
  backend/kerjaflow/models/statutory.py
  backend/kerjaflow/services/statutory_calculator.py
  backend/odoo/addons/kerjaflow/config.py
  backend/odoo/addons/kerjaflow/controllers/leave_controller.py
  backend/odoo/addons/kerjaflow/controllers/main.py
  backend/odoo/addons/kerjaflow/controllers/payslip_controller.py
  backend/odoo/addons/kerjaflow/controllers/privacy_controller.py
  backend/odoo/addons/kerjaflow/models/__init__.py
  backend/odoo/addons/kerjaflow/models/compliance.py
  backend/odoo/addons/kerjaflow/models/kf_audit_log.py
  backend/odoo/addons/kerjaflow/models/kf_company.py
  backend/odoo/addons/kerjaflow/models/kf_country_config.py
  backend/odoo/addons/kerjaflow/models/kf_employee.py
  backend/odoo/addons/kerjaflow/models/kf_foreign_worker_detail.py
  backend/odoo/addons/kerjaflow/models/kf_job_position.py
  backend/odoo/addons/kerjaflow/models/kf_leave_balance.py
  backend/odoo/addons/kerjaflow/models/kf_leave_request.py
  backend/odoo/addons/kerjaflow/tests/common.py
  backend/odoo/addons/kerjaflow/tests/test_employee.py
  backend/odoo/addons/kerjaflow/tests/test_leave.py
  backend/odoo/addons/kerjaflow/tests/test_payslip.py
  backend/pyproject.toml
  backend/tests/unit/test_leave.py
  backend/tests/unit/test_statutory_calculator.py
  mobile/integration_test/app_test.dart
  mobile/integration_test/offline_test.dart
  mobile/test/widget/auth/login_screen_test.dart
  mobile/test/widget/common/error_widget_test.dart
  mobile/test/widget/leave/leave_apply_form_test.dart
  mobile/test/widget/leave/leave_balance_card_test.dart
  mobile/test/widget/payslip/payslip_card_test.dart
Due: backend, mobile

feat(uiux): Implement design system foundation v5.0
  docs/kerjaflow-uiux-docs/00-MASTER-INDEX.md
  docs/kerjaflow-uiux-docs/01-DESIGN-SYSTEM.md
  docs/kerjaflow-uiux-docs/02-DESIGN-TOKENS.json
  docs/kerjaflow-uiux-docs/03-COMPONENT-LIBRARY.md
  docs/kerjaflow-uiux-docs/04-SCREEN-SPECIFICATIONS.md
  docs/kerjaflow-uiux-docs/05-PLATFORM-SPECIFICATIONS.md
  docs/kerjaflow-uiux-docs/06-RESPONSIVE-BREAKPOINTS.md
  docs/kerjaflow-uiux-docs/07-ACCESSIBILITY-GUIDE.md
  docs/kerjaflow-uiux-docs/09-ANIMATION-SPECIFICATIONS.md
  docs/kerjaflow-uiux-docs/21-ADVERTISEMENT-SIZES.md
  docs/kerjaflow-uiux-docs/23-QUALITY-CHECKLIST.md
  docs/kerjaflow-uiux-docs/24-IMPLEMENTATION-PROMPT.md
  docs/ui-ux/00-MASTER-INDEX.md
  docs/ui-ux/01-DESIGN-SYSTEM.md
  docs/ui-ux/02-DESIGN-TOKENS.json
  docs/ui-ux/03-COMPONENT-LIBRARY.md
  docs/ui-ux/04-SCREEN-SPECIFICATIONS.md
  docs/ui-ux/05-PLATFORM-SPECIFICATIONS.md
  docs/ui-ux/06-RESPONSIVE-BREAKPOINTS.md
  docs/ui-ux/07-ACCESSIBILITY-GUIDE.md
  docs/ui-ux/09-ANIMATION-SPECIFICATIONS.md
  docs/ui-ux/21-ADVERTISEMENT-SIZES.md
  docs/ui-ux/23-QUALITY-CHECKLIST.md
  docs/ui-ux/24-IMPLEMENTATION-PROMPT.md
  mobile/lib/core/core.dart
  mobile/lib/core/theme/app_theme.dart
  mobile/lib/core/theme/design_tokens.dart
  mobile/lib/core/theme/theme.dart
Due: mobile

feat(uiux): Implement core widget library and responsive layout
  mobile/lib/core/core.dart
  mobile/lib/core/layout/layout.dart
  mobile/lib/core/layout/responsive_layout.dart
  mobile/lib/core/widgets/kf_button.dart
  mobile/lib/core/widgets/kf_card.dart
  mobile/lib/core/widgets/kf_input.dart
  mobile/lib/core/widgets/kf_loading.dart
  mobile/lib/core/widgets/kf_navigation.dart
  mobile/lib/core/widgets/kf_pin.dart
  mobile/lib/core/widgets/kf_status.dart
  mobile/lib/core/widgets/widgets.dart
Due: mobile

feat(uiux): Implement Phase 3A core screens with design tokens
  mobile/lib/features/auth/auth.dart
  mobile/lib/features/auth/presentation/pages/forgot_password_screen.dart
  mobile/lib/features/auth/presentation/pages/login_screen.dart
  mobile/lib/features/auth/presentation/pages/onboarding_screen.dart
  mobile/lib/features/auth/presentation/pages/pages.dart
  mobile/lib/features/auth/presentation/pages/pin_entry_screen.dart
  mobile/lib/features/auth/presentation/pages/pin_setup_screen.dart
  mobile/lib/features/auth/presentation/pages/splash_screen.dart
  mobile/lib/features/dashboard/dashboard.dart
  mobile/lib/features/dashboard/presentation/pages/dashboard_screen.dart
  mobile/lib/features/dashboard/presentation/pages/pages.dart
  mobile/lib/features/features.dart
  mobile/lib/features/leave/leave.dart
  mobile/lib/features/leave/presentation/pages/leave_apply_screen.dart
  mobile/lib/features/leave/presentation/pages/leave_balance_screen.dart
  mobile/lib/features/leave/presentation/pages/leave_detail_screen.dart
  mobile/lib/features/leave/presentation/pages/leave_history_screen.dart
  mobile/lib/features/leave/presentation/pages/pages.dart
  mobile/lib/features/payslip/payslip.dart
  mobile/lib/features/payslip/presentation/pages/pages.dart
  mobile/lib/features/payslip/presentation/pages/payslip_detail_screen.dart
  mobile/lib/features/payslip/presentation/pages/payslip_list_screen.dart
  mobile/lib/navigation/main_shell.dart
  mobile/lib/navigation/navigation.dart
Due: mobile

feat(uiux): Phase 3B - All 27 screens complete
  .kerjaflow_uiux_progress.json
  mobile/lib/core/widgets/kf_card.dart
  mobile/lib/features/approvals/presentation/pages/approval_detail_screen.dart
  mobile/lib/features/approvals/presentation/pages/approval_list_screen.dart
  mobile/lib/features/approvals/presentation/pages/pages.dart
  mobile/lib/features/notifications/presentation/pages/notification_detail_screen.dart
  mobile/lib/features/notifications/presentation/pages/notification_list_screen.dart
  mobile/lib/features/notifications/presentation/pages/pages.dart
  mobile/lib/features/profile/presentation/pages/pages.dart
  mobile/lib/features/profile/presentation/pages/profile_edit_screen.dart
  mobile/lib/features/profile/presentation/pages/profile_view_screen.dart
  mobile/lib/features/settings/presentation/pages/about_screen.dart
  mobile/lib/features/settings/presentation/pages/help_screen.dart
  mobile/lib/features/settings/presentation/pages/language_settings_screen.dart
  mobile/lib/features/settings/presentation/pages/pages.dart
  mobile/lib/features/settings/presentation/pages/security_settings_screen.dart
  mobile/lib/features/settings/presentation/pages/settings_screen.dart
  mobile/lib/features/settings/presentation/pages/theme_settings_screen.dart
Due: mobile

feat(uiux): Phase 4 - Animations, Accessibility, i18n
  .kerjaflow_uiux_progress.json
  mobile/lib/core/accessibility/accessibility.dart
  mobile/lib/core/accessibility/reduced_motion.dart
  mobile/lib/core/accessibility/semantic_labels.dart
  mobile/lib/core/animations/animations.dart
  mobile/lib/core/animations/micro_interactions.dart
  mobile/lib/core/animations/page_transitions.dart
  mobile/lib/core/core.dart
  mobile/lib/l10n/app_localizations.dart
Due: mobile

feat(i18n): Phase 5A - Production i18n with 12 ASEAN languages
  .kerjaflow_uiux_progress.json
  mobile/l10n.yaml
  mobile/lib/core/theme/font_config.dart
  mobile/lib/core/theme/theme.dart
  mobile/lib/l10n/app_bn.arb
  mobile/lib/l10n/app_id.arb
  mobile/lib/l10n/app_km.arb
  mobile/lib/l10n/app_ms.arb
  mobile/lib/l10n/app_my.arb
  mobile/lib/l10n/app_ne.arb
  mobile/lib/l10n/app_ta.arb
  mobile/lib/l10n/app_th.arb
  mobile/lib/l10n/app_tl.arb
  mobile/lib/l10n/app_vi.arb
  mobile/lib/l10n/app_zh.arb
  mobile/lib/l10n/l10n.dart
Due: mobile

feat(state): Phase 5B - Riverpod state management foundation
  mobile/lib/data/models/approval/approval.dart
  mobile/lib/data/models/common/api_response.dart
  mobile/lib/data/models/leave/leave.dart
  mobile/lib/data/models/models.dart
  mobile/lib/data/models/notification/notification.dart
  mobile/lib/data/models/payslip/payslip.dart
  mobile/lib/data/models/user/user.dart
  mobile/lib/main.dart
  mobile/lib/providers/approval_provider.dart
  mobile/lib/providers/auth_provider.dart
  mobile/lib/providers/leave_provider.dart
  mobile/lib/providers/notification_provider.dart
  mobile/lib/providers/payslip_provider.dart
  mobile/lib/providers/providers.dart
  mobile/lib/providers/states/auth_state.dart
  mobile/lib/providers/states/states.dart
  mobile/lib/providers/user_provider.dart
  mobile/pubspec.yaml
Due: mobile

feat(api): Phase 5C - Odoo backend integration
  mobile/lib/data/data.dart
  mobile/lib/data/datasources/local/local_storage.dart
  mobile/lib/data/datasources/remote/api_config.dart
  mobile/lib/data/datasources/remote/odoo_client.dart
  mobile/lib/data/repositories/auth_repository.dart
  mobile/lib/data/repositories/base_repository.dart
  mobile/lib/data/repositories/leave_repository.dart
  mobile/lib/data/repositories/payslip_repository.dart
  mobile/lib/data/repositories/repositories.dart
  mobile/lib/data/sync/sync_manager.dart
  mobile/lib/providers/data_providers.dart
  mobile/lib/providers/providers.dart
Due: mobile

test: Phase 5D - Comprehensive testing suite
  .github/workflows/backend_ci.yml
  .github/workflows/flutter_ci.yml
  mobile/test/golden/widgets_golden_test.dart
  mobile/test/helpers/test_app.dart
  mobile/test/integration/auth_flow_test.dart
  mobile/test/integration/leave_flow_test.dart
  mobile/test/mocks/mock_data.dart
  mobile/test/mocks/mock_providers.dart
  mobile/test/unit/api_config_test.dart
  mobile/test/widget/buttons_test.dart
  mobile/test/widget/cards_test.dart
  mobile/test/widget/inputs_test.dart
  mobile/test/widget/loading_test.dart
  mobile/test/widget/status_test.dart
Due: none

feat(hms): Phase 5E - HMS integration and production readiness
  mobile/android/app/agconnect-services.json
  mobile/lib/main.dart
  mobile/lib/providers/hms_providers.dart
  mobile/lib/services/hms/analytics_observer.dart
  mobile/lib/services/hms/analytics_service.dart
  mobile/lib/services/hms/hms.dart
  mobile/lib/services/hms/hms_availability.dart
  mobile/lib/services/hms/push_service.dart
  mobile/pubspec.yaml
  mobile/scripts/build_production.sh
  mobile/scripts/verify_production.sh
Due: mobile

feat(quality): Add 15 local quality gates for production readiness
  quality_gates/README.md
  quality_gates/gate_01_static_analysis/run.sh
  quality_gates/gate_02_code_quality/run.sh
  quality_gates/gate_03_security_scan/run.sh
  quality_gates/gate_04_unit_tests/run.sh
  quality_gates/gate_05_widget_tests/run.sh
  quality_gates/gate_06_integration_tests/run.sh
  quality_gates/gate_07_golden_tests/run.sh
  quality_gates/gate_08_performance_tests/run.sh
  quality_gates/gate_09_accessibility_audit/run.sh
  quality_gates/gate_10_i18n_verification/run.sh
  quality_gates/gate_11_api_contract_tests/run.sh
  quality_gates/gate_12_offline_sync_tests/run.sh
  quality_gates/gate_13_edge_case_tests/run.sh
  quality_gates/gate_14_regression_tests/run.sh
  quality_gates/gate_15_final_certification/run.sh
  quality_gates/quick_check.sh
  quality_gates/run_all_gates.sh
Due: none

docs: Add compliance audit report and remediation requirements
  docs/KEJA_REMEDIATION_REQUIREMENTS.md
  docs/specs/COMPLIANCE_AUDIT_REPORT.md
Due: none

Path conditions:
  backend: any of: backend/, but not: **/*.g.dart, **/*.freezed.dart, **/generated/**, **/test/**, **/tests/**, **/__pycache__/**
  mobile: any of: mobile/, but not: **/*.g.dart, **/*.freezed.dart, **/generated/**, **/test/**, **/tests/**, **/__pycache__/**
